# Ignore node_modules for frontend
frontend/node_modules/
frontend_old/node_modules/
frontend_old/

# Ignore Python virtual environment for backend
backend/venv/
/venv/

# Ignore data
backend/data/
backend/uploads/
backend/training_data/
backend/predictions/
backend/trained_models/
code_old/

backend/__pycache__/

# General ignores
.DS_Store
*.log