# Ignore node_modules for frontend
frontend/node_modules/

# Ignore Python virtual environment for backend
backend/venv/
/venv/

# Ignore data
backend/data/
backend/uploads/
code_old/

backend/__pycache__/

# General ignores
.DS_Store
*.log